<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <title>My First App</title>
</head>
<body class="app">
<script
        type="module"
        th:src="'http://localhost:3000/@vite/client'"
></script>
<script
        type="module"
        th:src="'http://localhost:3000/app.main.js'"
></script>
</body>
</html>
